
/*Pane{*/
/*    -fx-background-color: skyblue;*/
/*}*/
.menu{
    -fx-background-color: #475B90;
    -fx-border-color: #475B90;
}
.btnTrangChu{
    -fx-font-size: 15;

}
.paneTrangChu{
    -fx-opacity:0.5;
}

.paneTrangChu:hover {
    -fx-translate-x: 30;
    -fx-opacity: 0.8;
    -fx-font-size: 20 ;
    -fx-text-fill: #ffff;
}
