
/*Pane{*/
/*    -fx-background-color: skyblue;*/
/*}*/
.menu{
    -fx-background-color: #475B90;
    -fx-border-color: #475B90;
}
.btn{
    -fx-text-fill: #7692DA;
    -fx-opacity:0.5;
}
.btn:hover{
    -fx-border-color: white;
    -fx-opacity: 1;
    -fx-text-fill: white;
    -fx-scale-x: 1.1;
}
.btn_dangxuat{
    -fx-background-color:#475B90 ;
    -fx-text-fill: #ffffff80;
}
.btn_dangxuat:hover{
    -fx-text-fill: white;
    -fx-background-color: #334169;
    -fx-cursor: hand;
}