/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 12, 2021, 4:24:07 PM
    Author     : Admin
*/

GridPane {
    -fx-background-color: white;
    -fx-padding: 10;
}

#btn-login {
    -fx-background-color: yellow;
    -fx-border-color: black;
}
#bg-logo {
    -fx-background-color: lightblue;
}
#bg-login {
    -fx-background-color: darkblue
}